<!doctype html>

<html lang="es">
	
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Email</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='frontUX.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>

		<div id="SideBarMenu" class="sidebar">

			<img src="letshomelogo.png" width="200" height="97" class="d-inline-block align-top" alt="logo letshome">
			
			<div id="SideBarMenu" class="sidebar">

					<button type="button" id="top" 		class="btn btn-info btn-block">Top</button>
					<button type="button" id="home" 	class="btn btn-info btn-block">Home</button>
					<button type="button" id="map" 		class="btn btn-info btn-block">Mapa</button>
					<button type="button" id="invest" 	class="btn btn-info btn-block">Inversión</button>
					<button type="button" id="publish" 	class="btn btn-info btn-block">Publica</button>
					<button type="button" id="mortgage" class="btn btn-info btn-block">Hipoteca</button>
					<button type="button" id="bureau" 	class="btn btn-info btn-block">Buro</button>
					<button type="button" id="blog" 	class="btn btn-info btn-block">Blog</button>
					<button type="button" id="profile" 	class="btn btn-info btn-block">Mi Perfil</button>
					<button type="button" id="value" 	class="btn btn-info btn-block">Valua tu Casa</button>
				
			</div>
		
		</div>

		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

				<img src="{{ url_for('static', filename='collapse.png')}}" width="30" height="30" id="colapsar" class="acomodar" alt="logo letshome">
	
				<a class="navbar-brand" href="/">
	
					<img src="{{ url_for('static', filename='letshomelogo.png')}}" width="166" height="71" class="d-inline-block align-top" alt="">
	
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					
					<span class="navbar-toggler-icon"></span>
				
				</button>
		
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					
					<ul class="navbar-nav">
					
						<li class="nav-item">
							
							<a class="nav-link" href="/sms">SMS <span class="sr-only">(current)</span></a>
						
						</li>
						
						<li class="nav-item active">
						
							<a class="nav-link" href="/email">Email</a>
						
						</li>
						
						<li class="nav-item">
	
						<li class="nav-item dropdown">
	
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									UX
								</a>
	
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	
									<a class="dropdown-item" href="analytics.html">Analytics</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="flujo.html">Flujo</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="heatmap.html">Heatmap</a>
	
								</div>
							
							</li>

							<li class="nav-item">
							
								<a class="nav-link" href="http://127.0.0.1:5000/bitly">Bitly<span class="sr-only">(current)</span> </a>
							
							</li>
	
					</ul>
				
				</div>
		
			</nav>

		<div class="container-fluid bg">

			<!-- Content here -->
			<h1>User Experience - Email</h1>


			<div class="container">

					<table class="table table-striped">
	
						<thead>
	
							<tr>
	
								<th class="bg-secondary" scope="col"><h2>Métrica</h2></th>
								<th class="bg-secondary" scope="col"><h2>Cantidad</h2></th>
								<th class="bg-dark" scope="col"><h2>Métrica</h2></th>
								<th class="bg-dark" scope="col"><h2>Cantidad</h2></th>
	
							</tr>
	
						</thead>
	
						<tbody>
	
							<tr class="table-info">
								<td><h3>Número de Usuarios</h3></td>
								<td><h3>78000</h3></td>
								<td class="bg-info"><h3>Página de Inicio</h3></td>
								<td class="bg-info"><h3>Home</h3></td>
							</tr>
	
							<tr class="thead-dark">
	
								<th class="bg-secondary" scope="col"><h2>Métrica</h2></th>
								<th class="bg-secondary" scope="col"><h2>Cantidad</h2></th>
								<th scope="col"><h2>Métrica</h2></th>
								<th scope="col"><h2>Cantidad</h2></th>
	
							</tr>
	
							<tr class="table-info">
								<td><h3>Tiempo absoluto de Sesión</h3></th>
								<td><h3>01:18:32</h3></td>
								<td class="bg-info	"><h3>Historial de Acciones</h3></td>
								<td class="bg-info"><h3>Clicks: Mapa -> Filtro-Precio</h3></td>
							</tr>
	
							<tr class="thead-dark">
	
									<th class="bg-secondary" scope="col"><h2>Métrica</h2></th>
									<th class="bg-secondary" scope="col"><h2>Cantidad</h2></th>
									<th scope="col"><h2>Métrica</h2></th>
									<th scope="col"><h2>Cantidad</h2></th>
		
								</tr>
		
								<tr class="table-info">
									<td><h3>Tiempo entre secciones</h3></th>
									<td><h3>00:12:32</h3></td>
									<td class="bg-info"><h3>Ruta</h3></td>
									<td class="bg-info"><h3>Home -> Mapa</h3></td>
								</tr>
	
						</tbody>
	
					</table>
	
				</div>
	

		</div>

		<script type="text/javascript">

			$("#colapsar").click(function() {

				if($('#SideBarMenu').is(':visible')){

					$("#SideBarMenu").hide();

				}else{

					$("#SideBarMenu").show();
			
				}
				
			});
            
			$("#top").click(function() {

				$("#ruta").attr("src","flujo3.jpeg");

			});
            
			$("#home").click(function() {
					
				$("#top").addClass("btn-success");
					
			});
            
			$("#map").click(function() {
					
				$("#ruta").attr("src","flujomapa.jpeg")
					
			});
            
			$("#invest").click(function() {
					
			
					
			});
            
			$("#publish").click(function() {
					
		
					
			});
            
			$("#mortgage").click(function() {
					
	
					
			});
            
			$("#bureau").click(function() {
					

					
			});

			$("#blog").click(function() {
					

						
			});

			$("#profile").click(function() {
					

						
			});

			$("#value").click(function() {
					

						
			});

		</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</body>
	
</html>